/* Hide inactive Slide Blocks in editor. */
.wp-block[data-type="kindling/slide"] {
  .editor-inactive-block {
    @apply hidden;
  }
}

/* Editor styles - Block heading */
.editor-styles-wrapper {

  // Card component
  .kindling-block-header {
    @apply flex justify-between items-center px-4 py-2 mb-4;

    &__button-wrapper {
      @apply flex gap-4;
    }

    // Button components
    &__button {
      &.has-icon.has-text {

        &.prev {
          @apply pr-4;
        }

        &.next {
          @apply pl-4 flex flex-row-reverse;
        }

        &.is-primary {
          @apply pr-4;
        }

        svg {
          @apply mr-0;
        }
      }
    }

    p {
      font-size: 14px;
      color: var(--wp-admin-theme-color);
    }
  }
}

/* Frontend styles */
.wp-block-kindling-slider {
  overflow: hidden !important;
  position: relative !important;
}

// Hide Notification Bar
.swiper-notification {
  @apply hidden invisible;
}

// Reset pagination bottom position
.slider-block.swiper-horizontal>.swiper-pagination-bullets,
.slider-block .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}