.gform_wrapper.gravity-theme {
  .ginput_complex select {
    @apply border-grey border-solid rounded px-2 py-3 min-h-[46px];

    option {
      @apply text-grey;
    }
  }

  .gform_heading {
    .gform_required_legend {
      @apply hidden;
    }
  }

  .gfield {
    .gfield_label {
      @apply text-dark-blue text-[18px] leading-tight;
    }

    input:not([type='submit']),
    input:not([type='button']),
    input:not([type='image']),
    input:not([type='file']),
    input:not([type='radio']),
    textarea,
    select.gfield_select {
      @apply border border-grey border-solid bg-white text-black leading-none p-4 rounded-none;
    }

    input {

      &[type='checkbox'],
      &[type='radio'] {
        @apply mr-1;

        &:checked {

          &:hover,
          &:active,
          &:focus {
            @apply bg-blue;
          }
        }
      }

      &[type='radio'] {
        @apply border-grey rounded-full;
      }
    }

    .ginput_container_radio {
      .gfield_radio {
        @apply grid gap-2;
      }
    }
  }

  .gfield_required {
    @apply pl-0 text-dark-blue;
  }

  .gform_validation_errors {
    h2 {
      @apply pl-6;
    }

    >h2 .gform-icon {
      @apply left-0;
    }
  }

  .gform_validation_errors,
  .gfield_validation_message,
  .validation_message {
    @apply border-0 shadow-none p-0 px-1 text-error mt-1;

    background: none;

    h2 {
      @apply text-error;
    }
  }

  .gfield_error {

    input:not([type='submit']),
    input:not([type='button']),
    input:not([type='image']),
    input:not([type='file']),
    input[type='radio'],
    textarea,
    select.gfield_select {
      @apply border border-error;
    }

    .gfield_required,
    legend {
      @apply text-error;
    }

    label {
      @apply text-grey;
    }
  }

  .gform_fields {
    @apply gap-5;
  }

  .gform_footer {

    input[type='submit'] {
      @apply btn-secondary mb-0 cursor-pointer;

      &.gform-button--width-full {
        @apply w-full;
      }
    }
  }

  /* Override Gravity Forms CSS Ready Class to make
   * checkboxes two columns on mobile and tablet.
   *
   * https://docs.gravityforms.com/css-ready-classes/#h-list-columns
   */
  .gf_list_3col {
    .gfield_checkbox {
      @screen sm {
        @apply grid grid-cols-2 gap-x-8;
      }

      @screen lg {
        @apply grid-cols-3;
      }
    }
  }
}
