// Editor only
.block-editor-block-list__block.wp-block.slider-block {
  display: block !important;
  height: auto !important;
}

.editor-styles-wrapper .block-editor-block-list__block.wp-block.slider-block {
  flex-direction: row-reverse;
  display: flex !important;
  height: auto !important;
}
/* End Editor only */

.slider-block {
  @apply flex w-full relative;

  &::before {
    @apply content-[''] bg-blue absolute bottom-0 right-0 shadow-sm;

    height: calc(100% - 84px);
    width: 685px;
  }

  &__heading {
    @apply text-white font-semibold text-5xl leading-tight mt-0 mb-14;
  }

  &__pagination-wrapper {
    @apply min-w-[640px] min-h-[550px] bg-blue p-14 z-20 mb-[84px];
  }

  &__pagination {
    .pagination-item {
      @apply text-2xl font-light leading-snug text-blue pl-[110px];

      // TODO is there a setting to disable the pagination swiper styles per variation or entirely?
      // TODO cont... maybe if those styles just aren't loaded? Right now it's loading the entire bundle of styles and features
      &.swiper-pagination-bullet-active {
        @apply font-bold text-white relative;

        background: unset;
        opacity: unset;

        &::before {
          @apply content-[''] absolute w-[80px] h-[5px] bg-black left-0 top-1/2 transform -translate-y-1/2;
        }
      }

      &.swiper-pagination-bullet {
        @apply w-full;

        background: unset;
        border-radius: unset;
        height: unset;
        opacity: unset;
      }
    }
  }

  // (Single) Slide block
  .swiper-wrapper {
    @apply mt-[84px] pl-[94px] z-[1] pt-[84px] pb-[84px];
  }

  .swiper-slide {
    @apply w-[380px];
  }
}

// Pagination overrides
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  @apply relative left-0 right-auto top-0 transform-none;
}

// Nav Arrows
.slider-block__swiper-nav {
  @apply absolute bottom-4 flex flex-row left-1/2 -translate-x-1/2 gap-[25px] z-20;

  .slider-block__button {
    &--next,
    &--prev {
      @apply h-[50px] w-[50px] cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue focus:ring-offset-2 transition duration-75 hover:scale-110;
    }

    &--prev {

      &::after {
        @apply inline-block h-[50px] w-[50px] transition-all bg-dark-blue relative left-0 ease-out;

        content: '';
        mask-image: url(../images/arrow-left-circle.svg);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
      }
    }

    &--next {

      &::after {
        @apply inline-block h-[50px] w-[50px] transition-all bg-dark-blue relative right-0 ease-out;

        content: '';
        mask-image: url(../images/arrow-right-circle.svg);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
      }
    }
  }
}
