.wp-block-cover__video-background {
  width: 300%;
  height: 300%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

@media screen and (min-width: 375px) {
  .wp-block-cover__video-background {
    top: -80%;
    width: 260%;
    height: 260%;
  }
}

@media screen and (min-width: 425px) {
  .wp-block-cover__video-background {
    top: -75%;
    width: 250%;
    height: 250%;
  }
}

@media screen and (min-width: 768px) {
  .wp-block-cover__video-background {
    top: -25%;
    left: -10%;
    width: 150%;
    height: 150%;
  }
}

@media screen and (min-width: 1024px) {
  .wp-block-cover__video-background {
    left: -25%;
  }
}

@media screen and (min-width: 1440px) {
  .wp-block-cover__video-background {
    left: -88%;
    width: 275%;
    height: 275%;
  }
}

@media screen and (min-width: 2560px) {
  .wp-block-cover__video-background {
    left: -125%;
    width: 350%;
    height: 350%;
  }
}
