$colors: (
  'grey': #4d4d4f,
  'light-grey': #f6f6f6,
  'medium-grey': #667080,
  'dark-grey': #333333,
  'blue': #0d508d,
  'dark-blue': #0b3760,
  'orange': #f5873c,
  'green': #3e6533,
  'dark-green': #375d2c,

  'black': #000000,
  'white': #ffffff,
  'transparent': transparent,
  'error': #ff0000
);

/*
 * Set frontend styles for the 'core/button' block.
 */

.wp-block-button {
  /* Default button */
  .wp-element-button {
    @apply btn-primary;
  }

  /* Primary button */
  &.is-style-btn-primary {
    .wp-element-button {
      @apply btn-primary;
    }
  }

  /* Secondary button */
  &.is-style-btn-secondary {
    .wp-element-button {
      @apply btn-secondary;
    }
  }

  /* Tertiary button */
  &.is-style-btn-tertiary {
    .wp-element-button {
      @apply btn-tertiary;
    }
  }
}

/*
 * Set frontend styles for the 'core/list' block.
 */

// TODO - these can probably be moved to theme.json
ul.is-style-list-disc,
ul.is-style-default {
  @apply pl-4;

  li {
    @apply list-disc list-outside;
  }
}

/* Pagination block - TODO some of these settings could be moved to theme.json */
.wp-block-query-pagination-next,
.wp-block-query-pagination-previous {
  @apply flex;

  &::before {
    @apply content-[''] h-[32px] w-[32px] sm:h-[48px] sm:w-[48px] visible block;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px 48px;

    @screen -sm {
      background-size: 32px 32px;
    }
  }

  &:hover {
    .wp-block-query-pagination-next-arrow,
    .wp-block-query-pagination-previous-arrow {
      &::after {
        @apply bg-dark-grey;
      }
    }
  }
}

.wp-block-query-pagination-previous {
  &::before {
    background-image: url(../images/chevron-left-circle.svg);
  }
}

.wp-block-query-pagination-next {
  &::before {
    background-image: url(../images/chevron-right-circle.svg);
  }
}

.wp-block-query-pagination.is-layout-flex {
  @apply flex justify-center gap-3 py-10 md:py-20;
}

.wp-block-query-pagination > .wp-block-query-pagination-numbers {
  @apply m-0;
}

.wp-block-query-pagination-numbers {
  @apply flex gap-3;

  .page-numbers {
    @apply inline-flex justify-center items-center md:w-10 w-5 h-10 py-2 px-2 bg-white text-base text-medium-grey;

    &.current {
      @apply text-dark-blue font-bold;
    }
  }

  a.page-numbers:hover {
    @apply text-dark-blue font-bold;
  }
}

.wp-block-query-pagination > .wp-block-query-pagination-next,
.wp-block-query-pagination > .wp-block-query-pagination-previous {
  @apply m-0;
}

.wp-block-query-pagination .wp-block-query-pagination-next-arrow,
.wp-block-query-pagination .wp-block-query-pagination-previous-arrow {
  @apply m-0;
}

.wp-block-query-pagination-next-arrow,
.wp-block-query-pagination-previous-arrow {
  @apply invisible relative h-2.5 w-2.5;

  &::after {
    @apply bg-medium-grey content-[''] h-2.5 w-2.5 absolute left-0 top-0 transition;
    display: block;
    visibility:  visible;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 10px 10px;
  }
}

.wp-block-query-pagination-next-arrow {
  &:after {
    mask-image: url(../images/chevron-right-light-grey.svg);
  }
}

.wp-block-query-pagination-previous-arrow {
  &:after {
    mask-image: url(../images/chevron-left-light-grey.svg);
  }
}

/* Navigation Blocks */

// Both previous and next link label and text wrapper
.wp-block-post-navigation-link {
  @apply max-w-[190px] md:max-w-[320px] font-normal sm:font-bold flex flex-col md:flex-row relative;

  // Common link styles
  a {
    @apply pt-[48px] md:pt-0 text-base sm:text-xl md:text-2xl no-underline text-dark-blue leading-tight block z-[2];

    @screen -sm {      @apply h-[48px] w-[48px];
    }

    &:hover {
      @apply underline;
    }

    // Both previous and next link label text
    .post-navigation-link__label {
      @apply hidden sm:block uppercase text-medium-grey mb-1 text-sm sm:text-base md:text-lg
    }

    // Both previous and next link title
    .post-navigation-link__title {
      @apply hidden sm:block;

      // Truncate to two lines
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }

  }

  // Previous link
  &.post-navigation-link-previous {
    @apply flex-col-reverse md:flex-row md:items-center;

    a {
      @apply ml-0 md:pl-20;
    }

    // Arrow
    .wp-block-post-navigation-link__arrow-previous {
      @apply invisible relative -mb-12 md:mb-0 md:absolute mr-0 h-[48px] w-[48px] z-[1];

      &::before {
        @apply content-[''] absolute h-[48px] w-[48px] bg-dark-blue visible block left-0 sm:left-auto sm:top-1/2 sm:-translate-y-1/2;

        mask-image: url(../images/arrow-left-circle.svg);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 48px 48px;
      }
    }

    // Previous link label prefix text
    .post-navigation-link__label {
      &::before {
        @apply content-['Previous'] relative block;
      }
    }
  }

  // Next link
  &.post-navigation-link-next {
    @apply flex-col-reverse md:flex-row items-end md:items-center;

    // Arrow
    .wp-block-post-navigation-link__arrow-next {
      @apply invisible relative -mb-12 md:mb-0 md:absolute md:top-auto md:right-0 ml-0 h-[48px] w-[48px] z-[1];

      &::after {
        @apply content-[''] absolute h-[48px] w-[48px] bg-dark-blue visible block top-1/2 -translate-y-1/2;

        mask-image: url(../images/arrow-right-circle.svg);
        mask-repeat: no-repeat;        mask-position: center;
        mask-size: 48px 48px;
      }
    }

    a {
      // Next link text right aligned
      @apply text-right mr-0 md:pr-20;
      // Next link label right aligned
      .post-navigation-link__label {
        @apply text-right;

        // Next link label prefix text
        &::before {
          @apply content-['Next'] relative block;        }
      }
    }
  }
}

/* Editorskit linked blocks. */
.ek-linked-block {
  > div {
    // Global link styles: Reset shadow and translate.
    @apply transition shadow-none translate-y-0;
  }

  // .ek-linked-block-over class added to wrapping container by JS on mouseenter.
  &.ek-linked-block-over {

    > div {
      // Global link styles: Add shadow and move up 4px.
      @apply bg-grey shadow-lg -translate-y-1;
    }

    a.editorskit-block-link {
      // Reset margin-block-start added by Gutenberg layout.
      @apply mt-0;    }
  }
}

/* Post Excerpt block read more. */
.wp-block-post-excerpt__more-text {
  @apply mt-3;

  .wp-block-post-excerpt__more-link {
    @apply btn-tertiary;
  }
}