/**
 * Breadcrumb NavXT styles
 */

.breadcrumbs {
  @apply h-full items-center inline-flex text-grey text-[16px] leading-normal gap-2;

  span {
    @apply h-full inline-flex;

    a {
      @apply text-grey;

      &:hover,
      &:active,
      &:focus {
        @apply text-black;
      }
    }
  }

  .home {
    &::after {
      @apply inline-block bg-center w-[14px] h-[14px] bg-grey transition-all relative top-[1px];
      content: '';
      mask-image: url(../images/home.svg);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }

    &:hover,
    &:active,
    &:focus {
      &::after {
        @apply bg-black transition-all;
      }
    }

    span {
      @apply sr-only;
    }
  }
}
