.btn-primary {
  @apply bg-blue text-white border border-solid border-blue rounded-3xl text-base font-semibold leading-normal tracking-[1.5px] inline-flex items-center px-[22px] py-3 no-underline uppercase focus:outline-none focus:ring-2 focus:ring-blue focus:ring-offset-2;

  &::after {
    @apply inline-block h-[24px] w-[24px] transition-all bg-white ml-[6px] relative right-0 ease-out;
    content: '';
    mask-image: url(../images/chevron-right-solid-small.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &:hover,
  &:active,
  &:focus {
    @apply text-dark-grey bg-orange border-orange;

    &::after {
      @apply bg-dark-grey -right-[4px];

      transition: all 0.2s ease;
    }
  }
}

.btn-primary-green {
  @apply bg-green text-white border border-solid border-green rounded-3xl text-base font-semibold leading-normal tracking-[1.5px] inline-flex items-center px-[22px] py-3 no-underline uppercase focus:outline-none focus:ring-2 focus:ring-blue focus:ring-offset-2;

  &::after {
    @apply inline-block h-[24px] w-[24px] transition-all bg-white ml-[6px] relative right-0 ease-out;
    content: '';
    mask-image: url(../images/chevron-right-solid-small.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &:hover,
  &:active,
  &:focus {
    @apply text-white bg-blue border-blue;

    &::after {
      @apply bg-white -right-[4px];

      transition: all 0.2s ease;
    }
  }
}

.btn-secondary {
  @apply bg-white text-dark-blue border-2 border-solid border-dark-blue uppercase rounded-3xl text-base font-semibold leading-normal tracking-[1.5px] relative inline-flex items-center no-underline focus:outline-none px-[22px] py-3 focus:ring-2 focus:ring-blue focus:ring-offset-2;

  &::after {
    @apply relative inline-block h-[24px] w-[24px] bg-dark-blue ml-[6px] right-0 content-[''];
    mask-image: url(../images/chevron-right-solid-small.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    transition: all 0.2s ease-out;
  }

  &:hover,
  &:active,
  &:focus {
    @apply text-orange border-2 border-orange;

    &::after {
      @apply bg-orange -right-[4px];

      transition: all 0.2s ease;
    }

  }
}

.btn-tertiary {
  @apply bg-transparent text-blue border-0 border-transparent capitalize rounded-none text-base font-semibold leading-normal relative inline-flex items-center no-underline px-0 py-0 focus:outline-none focus:ring-2 focus:ring-blue focus:ring-offset-2;

  &::after {
    @apply relative inline-block h-[24px] w-[24px] bg-blue ml-[6px] right-0 content-[''];
    mask-image: url(../images/chevron-right-solid.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    transition: all 0.2s ease-out;
  }

  &:hover,
  &:active,
  &:focus {
    @apply text-dark-blue;

    &::after {
      @apply bg-dark-blue -right-[4px];

      transition: all 0.2s ease;
    }
  }
}
