// This file is external to the Slider block (and Slide innerblock).
// These are meant to be overrides to customize the block for this site.

.wp-block-kindling-slider {

  .swiper-pagination {
    bottom: 0;

    max-width: var(--wp--style--global--content-size) !important;
    margin-left: auto !important;
    margin-right: auto !important;

    //// Left align
    // left: 50% !important;
    // text-align: left !important;
    // transform: translateX(-50%) !important;
  }

  // Swiper "bullet" pagination example styles
  /* Set to equal width and height with rounded-full for a bullet */
  .swiper-pagination-bullet {
    @apply w-[65px] h-[6px] bg-medium-grey opacity-[0.35] mr-2 cursor-pointer transition;

    // Resets
    border-radius: 0;

    // Hover or focused state
    &:hover,
    &:active,
    &:focus {
      @apply bg-grey opacity-100;
    }

    // Current slide
    &-active {
      @apply bg-grey opacity-100;
    }
  }
}