// Editor only
.block-editor-block-list__block.wp-block.slider-block {
  display: block !important;
  height: auto !important;
}

.editor-styles-wrapper .block-editor-block-list__block.wp-block.slider-block {
  flex-direction: row-reverse;
  display: flex !important;
  height: auto !important;
}
/* End Editor only */

.wp-block[data-type="kindling/slider-block"],
.slider-block {
  @apply flex w-full relative;

  // (Single) Slide block
  .swiper-wrapper {
    @apply z-[1] pb-[84px];
    //mt-[84px] pl-[94px] z-[1] pt-[84px] pb-[84px]
  }

  .swiper-slide {
    @apply w-[380px];
  }
}

// Nav Arrows
.wp-block[data-type="kindling/slider-block"] .slider-block__swiper-nav,
.slider-block__swiper-nav {
  @apply absolute bottom-4 flex flex-row left-1/2 -translate-x-1/2 gap-[25px] z-20;

  .slider-block__button {
    &--next,
    &--prev {
      @apply h-[50px] w-[50px] cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue focus:ring-offset-2 transition duration-75 hover:scale-110;
    }

    &--prev {

      &::after {
        @apply inline-block h-[50px] w-[50px] transition-all bg-dark-blue relative left-0 ease-out;

        content: '';
        mask-image: url(../images/arrow-left-circle.svg);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
      }
    }

    &--next {

      &::after {
        @apply inline-block h-[50px] w-[50px] transition-all bg-dark-blue relative right-0 ease-out;

        content: '';
        mask-image: url(../images/arrow-right-circle.svg);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
      }
    }
  }
}
